    
    <%- include('partials/header.ejs')%>
    
    
    <body>
        <%- include('partials/navbar.ejs')%>
        <%- include('partials/head.ejs')%>
       
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">You can book G2/G drive test from this Kiosk</h2>
                            <h3 class="post-subtitle">Ypu can book G2/G drive test from this Kiosk</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Drive Test Center</a>
                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    
<%- include('partials/footer.ejs')%>
